<button class="reset-structure" {{action "resetStructure"}}>Reset</button>

<section class="color-stage">
  {{#each structure as |color index|}}
    <div class="color-block" style="background-color:{{color.hex}}"></div>
  {{/each}}
</section>