.color-stage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5em;

  .color-block {
    transition: all .8s;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin: .05em;
  }
}